<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>彭小华</title>
    <include file="./Public/common/com.html" />
    <!-- <bgsound src="./Public/m.mp3"></bgsound> -->
  </head>
  <body id="body">
        <div class="container">


          <div class="row">
            <!-- 顶部灰色 -->
            <include file="./Public/homecommon/head.html" />

            <br>
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" ><a href="http://bowuting.cn/xiaohua/index.php/Home/Index/index">Home</a></li>
              <li role="presentation"><a href="http://bowuting.cn/xiaohua/index.php/Home/Index/news">News</a></li>
              <li role="presentation" class="active"><a href="http://bowuting.cn/xiaohua/index.php/Home/Index/albums">Albums</a></li>
              <li role="presentation" ><a href="http://bowuting.cn/xiaohua/index.php/Home/Index/ims">IMS</a></li>
            </ul>


            <div class="col-md-12" >

              <br><br><br><br>
              <div class=" blog-main">
                        <div style="height:200px;"class="">
                            <a href="http://bowuting.cn/xiaohua/index.php/Home/Index/albums_2"><img style="width:210px;height:160px;"src="http://file.bowuting.com/index/40.jpg" alt="" /></a>
                        </div>
                        <p class="">Mac桌面背景图</p>
                    </div>
              <br><br><br>
              <div class="well">
                <h2>I Am You </h2> <P align=right><embed src="../../../Public/m.mp3" autostart="true" width="180" height="41"></embed></P>

              </div>
                  <!-- <embed src="" hidden="false" autostart="true" loop="true"> -->

            </div>

            <!-- <include file="./Public/homecommon/footer.html" /> -->
          </div><!-- /row -->

        </div> <!-- /container -->

  </body>
  <include file="./Public/common/js.html" />
  <include file="./Public/homecommon/cat.js.html" />

  <script type="text/javascript">



      $(document).ready(function(){




      });




  </script>
</html>
