<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>彭小华</title>
    <include file="./Public/common/com.html" />
    <!-- <bgsound src="./Public/m.mp3"></bgsound> -->
  </head>
  <body id="body">
        <div class="container">


          <div class="row">
            <!-- 顶部灰色 -->
            <include file="./Public/homecommon/head.html" />

            <br>
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" ><a href="http://bowuting.cn/xiaohua/index.php/Home/Index/index">Home</a></li>
              <li role="presentation"><a href="http://bowuting.cn/xiaohua/index.php/Home/Index/news">News</a></li>
              <li role="presentation" class="active"><a href="http://bowuting.cn/xiaohua/index.php/Home/Index/albums">Albums</a></li>
              <li role="presentation" ><a href="http://bowuting.cn/xiaohua/index.php/Home/Index/ims">IMS</a></li>
            </ul>
            <br>
            <div class="well">
              <h2>I Am You </h2> <P align=right><embed src="../../../Public/m.mp3" autostart="true" width="180" height="41"></embed></P>

            </div>
            <br><br><hr>
            <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/7.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/7.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/6.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/6.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/1.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/1.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/2.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/2.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/3.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/3.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/4.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/4.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/5.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/5.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/8.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/8.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/9.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/9.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/10.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/10.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/11.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/11.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/12.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/12.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/13.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/13.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/14.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/14.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/15.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/15.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/16.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/16.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/17.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/17.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/18.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/18.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/19.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/19.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/20.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/20.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/21.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/21.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/22.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/22.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/23.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/23.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/24.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/24.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/25.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/25.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/26.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/26.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/27.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/27.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/28.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/28.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/29.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/29.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/30.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/30.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/31.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/31.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/32.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/32.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/33.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/33.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/34.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/34.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/35.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/35.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>


                    <div class="col-sm-3 blog-main">
                        <div style="height:180px;"class="">
                            <a href="http://file.bowuting.com/index/36.jpg"><img style="width:210px;height:180px;"src="http://file.bowuting.com/index/36.jpg" alt="" /></a>
                        </div>
                        <p class="text-center">
                                                    </p>
                    </div>




              <br><br><br><br>

              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                  <!-- <embed src="" hidden="false" autostart="true" loop="true"> -->



            <!-- <include file="./Public/homecommon/footer.html" /> -->
          </div><!-- /row -->

        </div> <!-- /container -->

  </body>
  <include file="./Public/common/js.html" />
  <include file="./Public/homecommon/cat.js.html" />

  <script type="text/javascript">



      $(document).ready(function(){




      });




  </script>
</html>
